/*
|=============================================================================================|
|        _        _              _        ___________         _        _______      _      _  |
|       / \      | |            / \      |  ________ \       / \      |  ____ \    | |    | | |
|      / ^ \     | |           / ^ \     | |        \ \     / ^ \     | |    \ \   | |    | | |
|     / /_\ \    | |          / /_\ \    | |________/ /    / /_\ \    | |____/ /   | |____| | |
|    / _____ \   | |         / _____ \   |  _______  /    / _____ \   |  _____  \  |______  | |
|   / /     \ \  | |______  / /     \ \  | |       \ \   / /     \ \  | |____/  / ________| | |
|  /_/       \_\ |_______/ /_/       \_\ |_|        \_\ /_/       \_\ |________/  \_________| |
|                                                                                             |
|=============================================================================================|
|===================================== https://alaraby.dev ===================================|
|=============================================================================================|
Theme Name:         theme
Theme URI:          https://alaraby.dev
Description:        Sage 10 with Vite Starter theme
Version:            1.0.0
Author:             Mahmoud Araby
Author URL:         https://alaraby.dev
Text Domain:        theme
Requires PHP:       8.2
*/
